*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body::-webkit-scrollbar{
    width: 0.35rem;
    background: black;
}

body::-webkit-scrollbar-track{
    background: white;
}
body::-webkit-scrollbar-thumb{
    background: black;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(22, 22, 22, 0.8);
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    z-index: +100;
}



.logo{
    color: white;
    padding-left: 3em;
    

}

.nav-linkovi{
    display: flex;
    width: 35em;
    justify-content: space-around;
    color: white;
    margin-right: 3.5em;

}

.nav-linkovi a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-linkovi li{
    list-style: none;
}
.nav-linkovi a:hover{
    color: rgb(156, 156, 156);
}

.meni{
    display: none;
}
.meni div{
    width: 25px;
    height: 1px;
    background-color: white;
    margin: 5px;
}

.home1{
  background-image: url(../slike/dvogled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:3px 1px 4px 3px rgb(168, 168, 168);
  height: 95vh;

}
.naslov{
    text-align: center;
    padding-top: 40vh;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 5px 2px 5px rgba(0,0,0,0.58);
    font-size: 50px;
    padding-left: 5px;
    padding-right: 15px;
}

.about{
    width: 80%;
    background-color:rgb(212, 212, 212);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    display: flex;
    margin: -5% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center ;
    /* z-index: -1; */
}
.about img{
     height: 270px;
     margin: 23px 20px 23px 20px;
     box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
     border-radius: 20px;
}
.aboutText{
    width: 60%;
}
.aboutText :nth-child(1){
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.aboutText :nth-child(3){
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.about2{
    width: 100%;
    background-image: url(../slike/22.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-shadow:3px 1px 4px 3px rgb(168, 168, 168);
  margin: -5% auto 20px auto;
}
.about2 h1{
    padding-top: 5em;
}
.about3{
    width: 80%;
    background-color:rgb(212, 212, 212);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    display: flex;
    margin: -5% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center ;  
}
.about3 img{
    height: 270px;
    margin: 23px 20px 23px 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.aboutText{
   width: 60%;
}
.aboutText :nth-child(1){
   font-size: 37px;
   text-align: center;
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
   padding-right: 17px;
}

.footer{
    position: absolute;
    left: 0;
    height: 8em;
    margin-top: 15px;
    width: 100%;
    background-color: black;
    color: white;
    border-top: 1px solid rgb(218, 218, 218);
    font-family: 'Montserrat', sans-serif;
    border-top: 1.5px solid rgb(255, 207, 207);
  }
  
  .donjiFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
  }
  .donjiFooter h3{
      color: black;
      font-size: 13px;
      border-top: 1px solid rgb(255, 207, 207);
      padding-top: 4px;
      padding-bottom: 4px;
  }
  .footer-conent{
      position: relative;
      margin: auto;
      justify-content: center;
      width: 95%;
      padding: 30px 10px;
      box-sizing: border-box;
  }
  .mapa{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    /* margin-left: 5px; */
    justify-content: start;
}
.mapa2{
    position: absolute;
    top: 9px;
    right: 16px;
    font-size: 18px;
    /* font-size: 18px; */
    /* margin-left: 5px; */
    justify-content: center;
    text-align: end;
}
.logoF{
    display: flex;
    justify-content: center;
    color: rgb(255, 233, 230);
    padding-top: 35px;
}

.mapa a, .mapa2 a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.mapa a:hover, .mapa2 a:hover{
    color: rgb(179, 179, 179);
}
.mapa li, .mapa2 li{
    list-style: none;
    justify-content: start;
}


@media screen and (max-width:1024px){
    .nav-linkovi{
        width: 60%;
    
    }
}

@media screen and (max-width:768px){
    .nav-linkovi{
        display: none;
        position: absolute;
        right: 0%;
        height: 30vh;
        top: 8vh;
        background-color: rgba(17, 17, 17, 0.9);
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0%;
        border-bottom: 1px solid white;
    }
    .nav-linkovi li{
        text-align: center;
    }
    .meni{
        display: block;
        cursor: pointer;
        margin-right: 1em;
    }
    .nav-linkovi.active {
        display: flex;
    }
    .about, .about3{
        display: flex;
        flex-wrap: wrap;
    }
    .aboutText{
        padding-bottom: 20px;
    }
    .about3 img{
        margin:23px 20px 23px 20px;
        height: 220px;

    }
    .about3{
        margin: -13% auto 20px auto;
    }


} 